---
layout: defaulth
home: yes
---
<div class="container">
    <h1 class="sitename">{{site.author}}</h1>
    <ul class="nav pills">
        <li><a href="/">Home</a></li>
        <li><a href="/cn/">Chinese</a></li>
        <li><a href="/ja/">Japanese</a></li>
        <li><a href="/en/">English</a></li>
    </ul>
    {% if page.avatar %} <p><img width="100px" height="100px" src="http://pic3.zhimg.com/82888b64f_l.jpg" title="{{site.author}}" align="right"/></p> {% endif %}
    {{content}}
    <img class="none" style="max-width: 65%; float: right; margin-right: -20em;" src="http://7d9qq1.com1.z0.glb.clouddn.com/1418437465_892355.png">
</div>